.WhatsApp {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 100%;
    
    z-index: 2;

    pointer-events: none;

    &-wrapper {
        padding: 2rem 0;
        @include flex(row, nowrap, flex-end, center);
    }
    &-button {
        background: $color-blanco;
        width: 5rem;
        height: 5rem;

        pointer-events: auto;

        border-radius: 10rem;
        cursor: pointer;
    }
    &-svg {
        width: 100%;
        height: 100%;
        fill: #25d366;
    }
}